

   
 .titulo{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }  

.menu{
    padding: 20;
    background-color: dodgerblue;
    width: 100;
}


.tabla{
    width: 80;
    margin: 60;
}



 .fuente_unad {
     
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 